.button{
    display: inline-block;
    display: flexbox;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    vertical-align: middle;
    border: 3px solid black;
}
body{
    background-color: beige;
}
#grey{
    background-color: grey;

}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}